/*debut reset css*/

body{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

/*fin reset css*/

/*debut des propriétés de positionnement*/

.flex{
    display: flex;
}

.row{
    display: row;
}

/*fin des propriétés de positionnement*/

/*debut de la barre de navigation*/

.container{
    height: 70px;
    width: 100%;
    position: relative;
    display: flex;
    box-shadow: #cccccc 1px 1px 10px;
}

.mise_en_forme_du_titre_du_site{
    font-size: 140%;
    font-style: italic;
    margin-left: 55px;
    text-shadow: #cccccc 1px 1px 4px;
}

.elements_de_la_barre_de_navigation{
    text-decoration: none;
    font-size: 110%;
    padding: 10px;
    color: black;
    position: relative;
}

.elements_de_la_barre_de_navigation:hover{
    color: blue;
}

.nav {
    box-align: right;
    margin-left: 900px;
    margin-top: 10px;
}
.dispo{
    display: flex;
}

.orange{
    color: e26c13;
}

/*debut de la barre de navigation*/

/*debut de la presentation*/

.elt{
    position: relative;
    width: 900px;
    height: 600px;
    margin: 40px auto;
    text-align: center;
}

/*fin de la presentation*/

.img1{
    width: 900px;
    height: 600px; 
}

.titre1{
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 250%;
    font-style: italic;
}

.titre2{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 230%;
    font-style: italic;
    text-shadow: black 4px 4px 5px;
}

.bas{
    margin-top: 70px;
}

/*defilement*/

.figure figcaption{
    font-family: poppins SemiBold;
}

#slideshow {
    position: relative;
    left: -55px;
    top: 220px;
	width: 900px;
	height: 600px;
	padding: 15px;
	margin: 0 auto 2em;
	/*border: 1px solid #ddd;*/
	background: #FFF;
	/* CSS3 effects 
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);*/
    
}

/* avanced box-shadow
 * tutorial @
 * https://www.creativejuiz.fr/blog/les-tutoriels/ombre-avancees-avec-css3-et-box-shadow 
*/
#slideshow:before,
#slideshow:after {
	position: absolute;
	bottom:16px;
	z-index: -10;
	width: 50%;
	height: 20px;
	content: " ";
	/*background: rgba(0,0,0,0.1);
	border-radius: 50%;
	box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);*/
}
#slideshow:before {
	left:0;
	transform: rotate(-4deg);
}
#slideshow:after {
	right:0;
    transform: rotate(4deg); 
}

/* gestion des dimensions et débordement du conteneur */
#slideshow .container {
	position:relative;
	width: 900px;
	height: 600px;
    overflow: hidden;
}
	
/* on prévoit un petit espace gris pour la timeline */
#slideshow .container:after {
	position:absolute;
	bottom: 0; left:0;
	content: " ";
	width: 100%;
	height: 1px;
	/*background: #999;*/
}
/* 
   le conteneur des slides
   en largeur il fait 100% x le nombre de slides
*/
#slideshow .slider {
	position: absolute;
	left:0; top:0;
	width: 400%;
	height: 600px;
}

/* annulation des marges sur figure */
#slideshow figure {
	position:relative;
	display:inline-block;
	padding:0; margin:0;
}

/* petit effet de vignette sur les images */
#slideshow figure:after {
	position: absolute;
	display:block;
	content: " ";
	top:0; left:-450px;
    width: 100%; height: 100%;
	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
}

/* styles de nos légendes */
#slideshow figcaption {
	position:absolute;
	left:-445px; right: 445px; bottom: 0px;
	padding: 20px;
	margin:0;
	border-top: 1px solid rgb(225,225,225);
	text-align:center;
	letter-spacing: 0.05em;
	word-spacing: 0.05em;
    font-family: poppins;
    font-weight: 600;
	background: #fff;
	background: rgba(255,255,255,0.7);
	color: #555;
}

/* fonction d'animation, n'oubliez pas de prefixer ! */
@keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}

@-webkit-keyframes slider{
    0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}

@-moz-keyframes slider {
    0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}

/* complétez le sélecteur : */
#slideshow .slider {
	/* ... avec la propriété animation */
	animation: slider 32s infinite;
}

#timeline {
	position: absolute;
	background: #999;
	bottom: 15px;
	left: 15px;
	height: 1px;
	background: rgb(214,98,13);
	background: rgba(214,98,13,.8);
	width: 0;
	/* fonction d'animation */
	animation: timeliner 32s infinite;
}

@keyframes timeliner {
	0%, 25%, 50%, 75%, 100%	{ width: 0;		}
	20%, 45%, 70%, 90%		{ width: 640px;	}
}

@keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}

@keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}

/* ajouter à l'élément : */
#slideshow figcaption {
	/* ... la propriété animation */
	animation: figcaptionner 32s infinite;
}

.gauche{
    position: relative;
    left: -450px;
}

.position{
    margin-right: 348px;
    margin-top: -200px;
}

/*fdbvdkhbn v hdv dvstvs vgugvs vsehfv qef*/

.modif{
	margin-top: 300px;
}

.titre2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 370%;
    font-style: italic;
}

.case{
	background-color: e26c13;
	height: 50px;
	width: 130px;
	border-radius: 15px;
	border: none;
	position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 370%;
    font-style: italic;
}

#decouvrir{
	color: white;
	font-family: poppins;
	font-size: 110%;
}

.titre3{
    position: absolute;
    top: 30%;
    left: 28%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 140%;
    font-style: italic;
}

.reservation_telephone{
	height: 125px;
	width: 190px;
	background-color: white;
	position: absolute;
    top: 60%;
    left: 15.5%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.reservation_email{
	height: 125px;
	width: 210px;
	background-color: white;
	position: absolute;
    top: 60%;
    left: 39%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.tel{
	width: 60px;
	height: 60px;
	margin-top: -30px;
}

.titre_numero{
	 margin-top: 5px;
	font-size: 100%;
	font-family: object sans;
	font-style: italic;
}

.haut{
	margin-top: -10px;
	font-family: poppins;
	font-weight: 500;
}

.formulaire_de_reservation{
	height: 450px;
	width: 300px;
	background-color: white;
	position: absolute;
    top: 50%;
    left: 76%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.formulaire_de_reservation_titre{
	font-size: 120%;
	color: black;
	font-family: object sans;
	margin-top: 20px;
}

.forme1{
	width: 120px;
	height: 35px;
	border-radius: 10px;
	border: none;
	box-shadow: #cccccc 1px 1px 4px;
	font-family: poppins;
	font-size: 100%;
	position: absolute;
    top: 20%;
    left: 28%;
	transform: translate(-50%, -50%);
}

.forme2{
	width: 120px;
	height: 35px;
	border-radius: 10px;
	border: none;
	box-shadow: #cccccc 1px 1px 6px;
	font-family: poppins;
	font-size: 100%;
	position: absolute;
    top: 20%;
    left: 72%;
	transform: translate(-50%, -50%);
}

.forme3{
	width: 120px;
	height: 35px;
	border-radius: 10px;
	border: none;
	box-shadow: #cccccc 1px 1px 6px;
	font-family: poppins;
	font-size: 100%;
	position: absolute;
    top: 32%;
    left: 28%;
	transform: translate(-50%, -50%);
}

.forme4{
	width: 120px;
	height: 35px;
	border-radius: 10px;
	border: none;
	box-shadow: #cccccc 1px 1px 6px;
	font-family: poppins;
	font-size: 100%;
	position: absolute;
    top: 32%;
    left: 72%;
	transform: translate(-50%, -50%);
}

.forme5{
	width: 120px;
	height: 35px;
	border-radius: 10px;
	border: none;
	box-shadow: #cccccc 1px 1px 6px;
	font-family: poppins;
	font-size: 100%;
	position: absolute;
    top: 44%;
    left: 28%;
	transform: translate(-50%, -50%);
}

.forme6{
	width: 120px;
	height: 35px;
	border-radius: 10px;
	border: none;
	box-shadow: #cccccc 1px 1px 6px;
	font-family: poppins;
	font-size: 100%;
	position: absolute;
    top: 44%;
    left: 72%;
	transform: translate(-50%, -50%);
}

.forme7{
	width: 250px;
	height: 130px;
	border-radius: 10px;
	border: none;
	box-shadow: #cccccc 1px 1px 6px;
	font-family: poppins;
	font-size: 100%;
	position: absolute;
    top: 67%;
    left: 50%;
	transform: translate(-50%, -50%);
}

.case2{
	background-color: e26c13;
	height: 45px;
	width: 250px;
	border-radius: 15px;
	border: none;
	position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 370%;
    font-style: italic;
}

.elt2{
    position: relative;
    width: 900px;
    height: 60px;
    margin: 40px auto;
    text-align: center;
}